{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>My BLOG</title>
  <link rel="stylesheet" type="text/css" href="{% static 'myblog/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'external/jquery-ui-1.12.1/jquery-ui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'myblog/jquery-ui-custom.css' %}">
</head>
<body>
  <h1>My BLOG</h1>
  <nav>
    <div id="addMyBlog" class="btn-flat-dashed-filled">Add BLOG</div>
  </nav>
  {% for myblog_content in myblog_content_list %}
    <section class="blog-item">
      <div class="blog-item-header">
        <h1 class="blog-item-header-id">{{ myblog_content.id }}</h1>
        <h1 class="blog-item-header-title">{{ myblog_content.content_title }}</h1>
        <h1 class="blog-item-header-date">{{ myblog_content.update_date|date:"Y-n-j h:i" }}</h1>
      </div>
      <div>
        <textarea class="blog-content-view" readonly>{{ myblog_content.content_text }}</textarea>
      </div>
    </section>
  {% endfor %}
  <div id="myblog-new-dialog" style="display:none;">
    <form action="{% url 'myblog:new_blog_content' %}" method="post">
      {% csrf_token %}
      <input type="text" name="content_title" placeholder="ブログタイトル"></input>
      <textarea name="content_text" placeholder="ブログ本文"></textarea>
      <div class="button_wrapper">
        <input type="submit" value="登録">
      </div>
    </form>
  </div>
  <div id="myblog-edit-dialog" style="display:none;">
    <form action="{% url 'myblog:edit_blog_content' %}" method="post">
      {% csrf_token %}
      <input type="text" name="myblog-id"></input>
      <input type="text" name="content_title" placeholder="ブログタイトル"></input>
      <textarea name="content_text" placeholder="ブログ本文"></textarea>
      <div class="button_wrapper">
        <input type="submit" value="更新">
      </div>
    </form>
  </div>
  <script src="{% static 'external/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'external/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
  <script src="{% static 'external/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script src="{% static 'external/jquery-autoexpand-1.0.2/jquery.autoexpand.js' %}"></script>
  <script src="{% static 'myblog.js' %}"></script>
</body>
</html>