body > h1 {
  text-align: center;
}

nav {
  text-align: right;
}
nav > p {
  margin: 0;
  width: 5em;
  text-align: center;
}
.blog-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media ( max-width : 860px ) {
  .blog-item {
    width: 40em;
  }
}
@media ( max-width : 667px ) {
  .blog-item {
    width: 20em;
  }
}
.blog-item {
  margin-top: 1em;
  padding: 0.3em;
  background-color: cornsilk;
}
.blog-item-header {
  position: relative;
}
.blog-item-header-title {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  color: navy;
  background-color: gold;
  padding-left: 0.3em;
}
.blog-item-header-date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: darkslategray;
}

.blog_content {
  margin: 0;
  font-size: 0.9rem;
}

.btn-flat-dashed-filled {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.3em 1.0em;
  text-decoration: none;
  /*border: dashed 1px #67c5ff;
  color: #67c5ff;
  background: #f2fcff;*/
  border: solid 1px #eb6100;
  color: #eb6100;
  background: #fff;
  /*border-radius: 3px;*/
  transition: .4s;
  border-radius: 100vh;
}

.btn-flat-dashed-filled:hover {
  color: #fff;
  background: #eb6100;
}

#myblog-new-dialog,
#myblog-edit-dialog,
#myblog-tag-list {
  width:100%;
}

#myblog-new-dialog input[name="content_title"], #myblog-new-dialog textarea,
#myblog-edit-dialog input[name="content_title"], #myblog-edit-dialog textarea {
  width:100%;
  box-sizing: border-box;
}

#myblog-new-dialog textarea,
#myblog-edit-dialog textarea {
  margin-top: 0.5em;
  line-height: 1.3;
  height: calc(1.3em * 10);
}

.button_wrapper {
  margin-top: 0.5em;
  text-align: center;
}

.myblog-tag-input {
  display: flex;
  align-items: flex-end;
  align-items: center;
}
.myblog-tag-input input[type="text"] {
  flex-grow: 1;
  min-width: 1em;
}
.myblog-tag-input input[type="button"] {
  font-size: 0.8rem;
  width: 3em;
}

#myblog-tag-list ul {
  list-style: none;
  padding: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#myblog-tag-list li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#myblog-tag-list .tag-list-name {
  margin: 0;
}

.myblog-tags {
  list-style: none;
  padding: 0;
  text-align: left;
}
.myblog-tags > li {
  display:inline;
  font-size: 0.7rem;
  color: darkslateblue;
  margin-right: 1em;
  background-color: lightsteelblue;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;

  border: 0px solid;
  border-color: lightsteelblue;
  border-radius: 8px;
}

.blog_content > pre {
  padding: 0.5em 1em;
  color: white;
  background-color: black;
  font-size: 1.1rem;
  border-radius: 5px;
}

.blog_content > p > code {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: lightgray;
  border-radius: 3px;
}
